<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TECHATHON 2024</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PatientRegistrationServlet</display-name>
    <servlet-name>PatientRegistrationServlet</servlet-name>
    <servlet-class>PatientRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegistrationServlet</servlet-name>
    <url-pattern>/PatientRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
</web-app>